html, body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
}


body{
   
    background-color: #ffffff;
    transition: background-color 0.2s ease-in-out;
    cursor: url("../Elements/CursorDesignPort2.svg") 16 16, pointer;

}
.buttonGD, .buttonGD:hover, body:has(.buttonGD:hover),.buttonGD:active, .buttonTYPE, .buttonTYPE:hover, body:has(.buttonTYPE:hover),.buttonTYPE:active,
.buttonPH, .buttonPH:hover,  body:has(.buttonPH:hover), .buttonPH:active,
.buttonPT, .buttonPT:active, .buttonPT:hover, .button3D, .button3D:active, .button3D:hover, 
.buttonMO, .buttonMO:active, .buttonMO:hover{
 cursor: url("../Elements/CursorDesignPort2.svg")  16 16 , auto !important;
}

    



.button3D{
    padding: 10px;
    color: rgb(255, 255, 255);
    background: none;
    outline: none;
    cursor: pointer;
    position: fixed;
    bottom: 20%;
    left: 85.5%;  
    font-size: 14px;
    border: 1px solid rgb(255, 255, 255); 
    border-color: azure;
    border-radius: 8px;
    font-family: 'Times New Roman', Times, serif;
}
.button3D:hover{
    background-color: #cdebc3;
    color: black;
    transition: background-color 0.5s ease-in, transform 0.1s;
    border: none; 
}
body:has(.button3D:hover){
    background-color:  rgb(205, 235, 195);
}
.button3D:active{
    transform: scale(0.90);
}


.buttonMO{
    padding: 10px;
    color: rgb(255, 255, 255);
    background: none;
    outline: none;
    cursor: pointer;
    position: fixed;
    bottom: 10%;
    left: 85.5%; 
    font-size: 14px;
    border: 1px solid rgb(255, 255, 255); 
    border-color: azure;
    border-radius: 8px;
    font-family: 'Times New Roman', Times, serif;
}
.buttonMO:hover{
    background-color: #ffd0df;
    color: black;
    transition: background-color 0.5s ease-in, transform 0.1s;
    border: none; 
}
body:has(.buttonMO:hover){
    background-color:  rgb(255, 208, 223);
}
.buttonMO:active{
    transform: scale(0.90);
}

.buttonPT{
    padding: 10px;
    color: rgb(255, 255, 255);
    background: none;
    outline: none;
    cursor: pointer;
    position: fixed;
    bottom: 30%;
    left: 85.5%; 
    font-size: 14px;
    border: 1px solid rgb(255, 255, 255); 
    border-color: azure;
    border-radius: 8px;
    font-family: 'Times New Roman', Times, serif;
}
.buttonPT:hover{
    background-color: #ebe2b2;
    color: black;
    transition: background-color 0.5s ease-in, transform 0.1s;
    border: none; 
}
body:has(.buttonPT:hover){
    background-color:  rgb(235, 226, 178);
}
.buttonPT:active{
    transform: scale(0.90);
}







.buttonGD{
    padding: 10px;
    color: rgb(0, 0, 0);
    background: none;
    cursor: pointer;
    position: fixed;
    top: 10%;
    right: 88.5%; 
    font-size: 14px;
    border: 1px solid black; 
    border-color: rgb(0, 0, 0);
    border-radius: 8px;
    font-family: 'Times New Roman', Times, serif;
}
.buttonGD:hover{
    background-color: #ffd7b8;
    color: black;
    transition: background-color 0.5s ease-in, transform 0.1s;
    border: none; 
}
body:has(.buttonGD:hover){
    background-color: rgb(255, 215, 184);
}


.buttonGD:active{
    transform: scale(0.90);
    
}









.buttonTYPE{
    padding: 10px;
    color: rgb(0, 0, 0);
    background: none;
    cursor: pointer;
    position: fixed;
    top: 20%;
    right: 88.5%; 
    font-size: 14px;
    border: 1px solid black; 
    border-color: rgb(0, 0, 0);
    border-radius: 8px;
    font-family: 'Times New Roman', Times, serif;
}
.buttonTYPE:hover{
    background-color: #f1d6f5;
    color: black;
    transition: background-color 0.5s ease-in, transform 0.1s;
    border: none; 
}
body:has(.buttonTYPE:hover){
    background-color: rgb(241, 214, 245);
}
.buttonTYPE:active{
    transform: scale(0.90);
}






.buttonPH{
    padding: 10px;
    color: rgb(0, 0, 0);
    background: none;
    cursor: pointer;
    position: fixed;
    top: 30%;
    right: 88.5%; 
    font-size: 14px;
    border: 1px solid black; 
    border-color: rgb(0, 0, 0);
    border-radius: 8px;
    font-family: 'Times New Roman', Times, serif;
}
.buttonPH:hover{
    background-color: #b3ebff;
    color: black;
    transition: background-color 0.5s ease-in, transform 0.1s;
    border: none; 
}
body:has(.buttonPH:hover){
    background-color: #b3ebff;
}
.buttonPH:active{
    transform: scale(0.90);
}




.black-square{
    position: fixed;
    top: 0;
    right: 0; 
    width: 50vw;
    height: 100vh;
    background-color: rgb(36, 36, 36);
    z-index: -2;
}



.loop-content2 p2 {
      font-family: Arial, Helvetica, sans-serif;
     font-weight: 100;
     font-size: smaller;
     white-space: nowrap;
     color:  rgb(36, 36, 36);;
     margin: 0;
     line-height: 30px;
     -webkit-font-smoothing: antialiased; 
     -moz-osx-font-smoothing: grayscale; 
     padding-right: 50px;
}







h1{
    text-align: left; 
    position: fixed;
    top: 51%; 
    left: 0; 
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: rgb(36, 36, 36);
}
h2{
    text-align: right;
    position: fixed;
    top: 50%; 
    right: 0; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    color: azure;
}

.loop-window{
   position: fixed;
   top: 0; 
   left: 0; 
   width: 100vw;
   height: 30px;
   overflow: hidden;
   perspective: 1000px;

}

.loop-content{
    display: flex;
    width: max-content; 
    animation: marquee 30s linear infinite;

   
    
}
.loop-content p {
     font-family: Arial, Helvetica, sans-serif;
     font-weight: 100;
     font-size: smaller;
     color: azure;
     white-space: nowrap;
     margin: 0;
     line-height: 30px;
     -webkit-font-smoothing: antialiased; 
     -moz-osx-font-smoothing: grayscale; 
     padding-right: 50px;
     
}


@keyframes marquee{
    0%{
        transform: translateX(100vw);
    }
    100%{
        transform: translateX(-100%);
    }
}


.loop-window2{
   position: fixed;
   bottom: 0; 
   left: 0; 
   width: 100vw;
   height: 30px;
   overflow: hidden;
   perspective: 1000px;
 
}

.loop-content2{
    display: flex;
    width: max-content; 
    animation: marquee2 30s linear infinite;
}


@keyframes marquee2{
    0%{
        transform: translateX(100vw);
    }
    100%{
        transform: translateX(-100%);
    }
}


@media only screen and (max-width: 600px){

h1, h2{
    font-size: 20px;
}
.button3D, .buttonMO, .buttonPT{
    left: 70%; 
}
.buttonGD, .buttonPH, .buttonTYPE{
    right: 70%; 
}





}