body{
    background-color: lch(88.6% 22.6 65.12);
    overflow-x: hidden;
}

.black-square{
    position: fixed;
    top: 0;
    right: 0; 
    width: 50vw;
    height: 100vh;
    background-color: black;
    z-index: -2;
}
h1{
    text-align: left; 
    position: absolute;
    top: 50.8%; 
    left: 0; 
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    font-size: 22px;
}
h3{
    text-align: left; 
    position: absolute;
    top: 50%; 
    left: 3%; 
    font-family: Helvetica, sans-serif;
    font-weight: 800;
    font-size: 22px;
}
h4{
    text-align: left; 
    position: absolute;
    top: 51.7%; 
    left: 3%; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 22px;
}
h5{
    text-align: left; 
    position: absolute;
    top: 54%; 
    left: 9%; 
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    font-size: 22px;
}

h2{
    text-align: left;
    position: absolute;
    top: 1000%; 
    right: 0; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    color:  lch(88.6% 22.6 65.12);
}


.gallery-layout{
    position: relative;
    margin-top: 100vh;
    margin-left: 12.2%; 
    min-height: 900px;
}

.ButtonP1{
background: none;
border: none; 
padding: 0; 
cursor: pointer; 
position: relative;
z-index: 2;
}

.Piece1 img{
    width: 500px;
    height: 750px;
}

.Piece1{
    width: 600px;
    height: 900px;
    overflow: hidden;
}

.description-box{
    display: none;
    width: 1450px;
    height: 710px;
    padding: 20px; 
    background-color: white;
    position: absolute;
    top: 0px; 
    left: -200px; 
    z-index: 1;
}
.description-box header{
    position: absolute;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
    right: 33%;
}
#piece-description.show{
    display: block !important;
    animation: fadeIn 0.4s ease-in-out forwards;
}
@keyframes fadeIn{
    0%{opacity: 0; transform: translateX(-100px);}
    100%{opacity: 1; transform: translateX(0);}
}



.gallery-layout2{
    position: relative;
    margin-top: 10%;
    margin-left: 47.6%; 
    min-height: 900px;
}
.ButtonP2{
background: none;
border: none; 
padding: 0; 
cursor: pointer; 
position: relative;
z-index: 2;
}
.Piece2 img{
    width: 530px;
    height: 757px;
}
.Piece2{
     width: 600px;
    height: 900px;
    overflow: hidden;
}

.description-box2{
    display: none;
    width: 1450px;
    height: 710px;
    padding: 20px; 
    background-color: white;
    position: absolute;
    top: 5px; 
    right: 0px; 
    z-index: 1;
}
.piece-description2 header{
    position: absolute;
    font-weight: bold; 
    font-size: 30px;
    margin-bottom: 10px;
    right: 33%;
}
#piece-description2.show{
    display: block !important;
    animation: fadeIn 0.4s ease-in-out forwards;
}




.gallery-layout3{
    position: relative;
    margin-top: 12%;
    margin-left: 11%; 
    min-height: 900px;
}
.ButtonP3{
background: none;
border: none; 
padding: 0; 
cursor: pointer; 
position: relative;
z-index: 2;
}
.Piece3 img{
    width: 530px;
    height: 745px;
}
.Piece3{
     width: 600px;
    height: 900px;
    overflow: hidden;
}

.description-box3{
    display: none;
    width: 1450px;
    height: 710px;
    padding: 20px; 
    background-color: white;
    position: absolute;
    top: 0px; 
    right: 0px; 
    z-index: 1;
}
.piece-description3 header{
    position: absolute;
    font-weight: bold; 
    font-size: 30px;
    margin-bottom: 10px;
    right: 33%;
}
#piece-description3.show{
    display: block !important;
    animation: fadeIn 0.4s ease-in-out forwards;
}




.gallery-layout4{
    position: relative;
    margin-top: 12%;
   margin-left: 47.6%; 
    min-height: 900px;
}
.ButtonP4{
background: none;
border: none; 
padding: 0; 
cursor: pointer; 
position: relative;
z-index: 2;
}
.Piece4 img{
    width: 530px;
    height: 750px;
}
.Piece4{
     width: 600px;
    height: 900px;
    overflow: hidden;
}

.description-box4{
    display: none;
    width: 1450px;
    height: 710px;
    padding: 20px; 
    background-color: white;
    position: absolute;
    top: 0px; 
    right: 0px; 
    z-index: 1;
}
.piece-description4 header{
    position: absolute;
    font-weight: bold; 
    font-size: 30px;
    margin-bottom: 10px;
    right: 33%;
}
#piece-description4.show{
    display: block !important;
    animation: fadeIn 0.4s ease-in-out forwards;
}



.gallery-layout5{
    position: relative;
    margin-top: 20vh;
    margin-left: 1.8%; 
    min-height: 900px;
}
.ButtonP5{
background: none;
border: none; 
padding: 0; 
cursor: pointer; 
position: relative;
z-index: 2;
}
.Piece5 img{
    width: 500px;
    height: 745px;
}
.Piece5{
     width: 900px;
    height: 900px;
    overflow: hidden;
}

.description-box5{
    display: none;
    width: 1450px;
    height: 705px;
    padding: 20px; 
    background-color: white;
    position: absolute;
    top: 0px; 
    right: 0px; 
    z-index: 1;
}
.piece-description5 header{
    position: absolute;
    font-weight: bold; 
    font-size: 30px;
    margin-bottom: 10px;
    right: 33%;
}
#piece-description5.show{
    display: block !important;
    animation: fadeIn 0.4s ease-in-out forwards;
}




.gallery-layout6{
    position: relative;
    margin-top: 20vh;
    margin-left: 43.2%; 
    min-height: 900px;
}
.ButtonP6{
background: none;
border: none; 
padding: 0; 
cursor: pointer; 
position: relative;
z-index: 2;
}
.Piece6 img{
    width: 700px;
    height: 550px;
}
.Piece6{
     width: 900px;
    height: 900px;
    overflow: hidden;
}

.description-box6{
    display: none;
    width: 1450px;
    height: 505px;
    padding: 20px; 
    background-color: white;
    position: absolute;
    top: 0px; 
    right: 0px; 
    z-index: 1;
}
.piece-description6 header{
    position: absolute;
    font-weight: bold; 
    font-size: 30px;
    margin-bottom: 10px;
    right: 33%;
}
#piece-description6.show{
    display: block !important;
    animation: fadeIn 0.4s ease-in-out forwards;
}



.gallery-layout7{
    position: relative;
    margin-top: -3%;
    margin-left: -1.5%; 
    min-height: 900px;
}
.ButtonP7{
background: none;
border: none; 
padding: 0; 
cursor: pointer; 
position: relative;
z-index: 2;
}
.Piece7 img{
    width: 600px;
    height: 550px;
}
.Piece7{
     width: 900px;
    height: 900px;
    overflow: hidden;
}

.description-box7{
    display: none;
    width: 1450px;
    height: 510px;
    padding: 20px; 
    background-color: white;
    position: absolute;
    top: 0px; 
    right: 0px; 
    z-index: 1;
}
.piece-description7 header{
    position: absolute;
    font-weight: bold; 
    font-size: 30px;
    margin-bottom: 10px;
    right: 33%;
}
#piece-description7.show{
    display: block !important;
    animation: fadeIn 0.4s ease-in-out forwards;
}
