body{
    background-color: lch(88.6% 22.6 65.12);
     cursor: url("../Elements/CursorDesignPort2.svg") 30 30, pointer;
}
html{
    -ms-overflow-style: none;
    scrollbar-width: none;
    cursor: url("../Elements/CursorDesignPort2.svg") 30 30, pointer;
}

html,
body, 
*, 
*::before, 
*::after{
cursor: url("../Elements/CursorDesignPort2.svg") 30 30, pointer !important;
}


.black-square{
    position: fixed;
    top: 0;
    right: 0; 
    width: 48.5vw;
    height: 100vh;
    background-color: rgb(36, 36, 36);
    z-index: -2;
   
}
.container:hover .HomeHover{
 opacity: 1;
 z-index: 10;
 transform: scale(1)
}
.container :active{
   transform: scale(0.85);
}

.HomeHover{
    position: fixed;
    background: none;
    border: none;
    outline: none;
    bottom: 90%; 
    right: -0.5%;
    opacity: 0;
}
.HomeButton{
    position: fixed;
    background: none;
    border: none;
    outline: none;
    bottom: 90%; 
    right: -0.5%;

}

.buttonTYPE{
    padding: 10px;
    color: rgb(0, 0, 0);
    background: none;
    cursor: pointer;
     position: absolute;
    top: 1005%; 
    right: 88.5%; 
    font-size: 14px;
    border: 1px solid black; 
    border-color: rgb(0, 0, 0);
    border-radius: 8px;
    font-family: 'Times New Roman', Times, serif;
}
.buttonTYPE:hover{
    background-color: rgb(241, 214, 245);
    color: black;
    transition: background-color 0.5s ease-in, transform 0.1s;
    border: none; 
}
body:has(.buttonTYPE:hover){
    background-color: rgb(241, 214, 245);
}
.buttonTYPE:active{
    transform: scale(0.90);
}




h1{
    text-align: left; 
    position: absolute;
    top: 50.8%; 
    left: 0; 
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    font-size: 22px;
}
h3{
    text-align: left; 
    position: absolute;
    top: 50%; 
    left: 3%; 
    font-family: Helvetica, sans-serif;
    font-weight: 800;
    font-size: 22px;
}
h4{
    text-align: left; 
    position: absolute;
    top: 51.7%; 
    left: 3%; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 22px;
}
h5{
    text-align: left; 
    position: absolute;
    top: 54%; 
    left: 9%; 
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    font-size: 22px;
}

h2{
    text-align: left;
    position: absolute;
    top: 1000%; 
    right: 0; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    color:  lch(88.6% 22.6 65.12);
}


.gallery-layout{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;
    max-width: 1200px;
    margin: 110vh auto 0 auto;
    position: relative;
}

.ButtonP1{
display: block;
background: none;
border: none; 
padding: 0; 
margin: 0;
cursor: pointer; 
max-width: 100%;
height: 100%;
position: relative;
z-index: 2;
}
.ButtonP1 :hover, .ButtonP2 :hover, .ButtonP3 :hover, .ButtonP4 :hover, .ButtonP5 :hover, .ButtonP6 :hover,  
.ButtonP7 :hover{
    outline: solid 10px black;
}

.Piece1 img{
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    display: block;
}

.Piece1{
    top: 2%; 
    width: 100%;
    max-width: 550px;
    height: auto;
    overflow: hidden;
    position: relative;
    justify-self: end;
}

.description-box{
    display: none;
    width: 430px; 
    height: 750px;
    max-width: 800px;
    padding: 2rem;
    background-color: white;
    position: fixed;
    transform: translate(-50%, -50%);
    box-shadow: 20px 20px 0px lch(0% 0 0);
    border-radius: 5px;
    position: absolute;
    top: 6%; 
    left: 57%; 
    z-index: 100;
}
.description-box header{
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: center;
}
#piece-description.show{
    display: block !important;
    animation: fadeIn 0.8s ease-in-out forwards;
}
@keyframes fadeIn{
    0%{opacity: 0; transform: translateX(-750px);}
    100%{opacity: 1; transform: translateX(0);}
}



.gallery-layout2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20%;
    position: relative;
}
.ButtonP2{
display: block;
background: none;
border: none; 
padding: 0; 
margin: 0;
cursor: pointer; 
width: 100%;
height: 100%;
position: relative;
z-index: 2;
}
.Piece2 img{
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    display: block;
}
.Piece2{
    width: 100%;
    max-width: 550px;
    height: auto;
    aspect-ratio: 2 / 3;
    overflow: hidden;
    position: relative;
    justify-self: end;
}

.description-box2{
    display: none;
    width: 430px; 
    height: 750px;
    max-width: 800px;
    padding: 2rem;
    background-color: white;
    position: fixed;
    transform: translate(-50%, -50%);
    box-shadow: 20px 20px 0px lch(0% 0 0);
    border-radius: 5px;
    position: absolute;
    top: 4%; 
    left: 57%; 
    z-index: 100;
}
.piece-description2 header{
   font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: center;
}
#piece-description2.show{
    display: block !important;
    animation: fadeIn2 0.8s ease-in-out forwards;
}
@keyframes fadeIn2{
    0%{opacity: 0; transform: translateX(-750px);}
    100%{opacity: 1; transform: translateX(0);}
}




.gallery-layout3{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20%;
    position: relative;
}
.ButtonP3{
display: block;
background: none;
border: none; 
padding: 0; 
margin: 0;
cursor: pointer; 
width: 100%;
height: 100%;
position: relative;
z-index: 2;
}
.Piece3 img{
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    display: block;
}
.Piece3{
    width: 100%;
    max-width: 550px;
    height: auto;
    aspect-ratio: 2 / 3;
    overflow: hidden;
    position: relative;
    justify-self: end;
}

.description-box3{
    display: none;
    width: 430px; 
    height: 750px;
    max-width: 800px;
    padding: 2rem;
    background-color: white;
    position: fixed;
    transform: translate(-50%, -50%);
    box-shadow: 20px 20px 0px lch(0% 0 0);
    border-radius: 5px;
    position: absolute;
    top: 4%; 
    left: 57%; 
    z-index: 100;
}
.piece-description3 header{
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: center;
}
#piece-description3.show{
    display: block !important;
    animation: fadeIn3 0.8s ease-in-out forwards;
}
@keyframes fadeIn3{
    0%{opacity: 0; transform: translateX(-750px);}
    100%{opacity: 1; transform: translateX(0);}
}



.gallery-layout4{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20%;
    position: relative;
}
.ButtonP4{
display: block;
background: none;
border: none; 
padding: 0; 
margin: 0;
cursor: pointer; 
width: 100%;
height: 100%;
position: relative;
z-index: 2;
}
.Piece4 img{
  width: 100%; 
    height: 100%; 
    object-fit: cover;
    display: block;
}
.Piece4{
    width: 100%;
    max-width: 550px;
    height: auto;
    overflow: hidden;
    position: relative;
    justify-self: end;
}

.description-box4{
    display: none;
    width: 430px; 
    height: 660px;
    max-width: 800px;
    padding: 2rem;
    background-color: white;
    position: fixed;
    transform: translate(-50%, -50%);
    box-shadow: 20px 20px 0px lch(0% 0 0);
    border-radius: 5px;
    position: absolute;
    top: 4%; 
    left: 57%; 
    z-index: 100;
}
.piece-description4 header{
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: center;
}
#piece-description4.show{
    display: block !important;
    animation: fadeIn4 0.8s ease-in-out forwards;
}
@keyframes fadeIn4{
    0%{opacity: 0; transform: translateX(-750px);}
    100%{opacity: 1; transform: translateX(0);}
}


.gallery-layout5{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20%;
    position: relative;
}
.ButtonP5{
display: block;
background: none;
border: none; 
padding: 0; 
margin: 0;
cursor: pointer; 
width: 100%;
height: 100%;
position: relative;
z-index: 2;
}
.Piece5 img{
     width: 100%; 
    height: 100%; 
    object-fit: cover;
    display: block;
}
.Piece5{
    width: 100%;
    max-width: 550px;
    height: auto;
    aspect-ratio: 2 / 3;
    overflow: hidden;
    position: relative;
    justify-self: end;
}

.description-box5{
    display: none;
    width: 430px; 
    height: 750px;
    max-width: 800px;
    padding: 2rem;
    background-color: white;
    position: fixed;
    transform: translate(-50%, -50%);
    box-shadow: 20px 20px 0px lch(0% 0 0);
    border-radius: 5px;
    position: absolute;
    top: 4%; 
    left: 57%; 
    z-index: 100;
}
.piece-description5 header{
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: center;
}
#piece-description5.show{
    display: block !important;
    animation: fadeIn5 0.8s ease-in-out forwards;
}
@keyframes fadeIn5{
    0%{opacity: 0; transform: translateX(-750px);}
    100%{opacity: 1; transform: translateX(0);}
}



.gallery-layout6{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 0.5rem;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20%;
    position: relative;
}
.ButtonP6{
display: block;
background: none;
border: none; 
padding: 0; 
margin: 0;
cursor: pointer; 
width: 100%;
height: 100%;
position: relative;
z-index: 2;
}
.Piece6 img{
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    display: block;

}
.Piece6{
    width: 100%;
    max-width: 600px;
    height: auto;
    overflow: hidden;
    position: relative;
}

.description-box6{
    display: none;
    width: 430px; 
    height: 500px;
    max-width: 800px;
    padding: 2rem;
    background-color: white;
    position: fixed;
    transform: translate(-50%, -50%);
    box-shadow: 20px 20px 0px lch(0% 0 0);
    border-radius: 5px;
    position: absolute;
    top: 2%; 
    left: 57%; 
    z-index: 100;
}
.piece-description6 header{
   font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: center;
}
#piece-description6.show{
    display: block !important;
    animation: fadeIn6 0.8s ease-in-out forwards;
}
@keyframes fadeIn6{
    0%{opacity: 0; transform: translateX(-750px);}
    100%{opacity: 1; transform: translateX(0);}
}


.gallery-layout7{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20%;
    position: relative;
}
.ButtonP7{
display: block;
background: none;
border: none; 
padding: 0; 
margin: 0;
cursor: pointer; 
width: 100%;
height: 100%;
position: relative;
z-index: 2;
}
.Piece7 img{
   width: 100%; 
    height: 100%; 
    object-fit: cover;
    display: block;
}
.Piece7{
   width: 100%;
    max-width: 600px;
    height: auto;
    overflow: hidden;
    position: relative;
    justify-self: end;
}

.description-box7{
 display: none;
    width: 430px; 
    height: 555px;
    max-width: 800px;
    padding: 2rem;
    background-color: white;
    position: fixed;
    transform: translate(-50%, -50%);
    box-shadow: 20px 20px 0px lch(0% 0 0);
    border-radius: 5px;
    position: absolute;
    top: 5%; 
    left: 57%; 
    z-index: 100;
}
.piece-description7 header{
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: center;
}
#piece-description7.show{
    display: block !important;
    animation: fadeIn7 0.8s ease-in-out forwards;
}
@keyframes fadeIn7{
    0%{opacity: 0; transform: translateX(-750px);}
    100%{opacity: 1; transform: translateX(0);}
}