body{
    background-color: rgb(205, 235, 195);
    overflow-x: hidden;
}
html{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
html,
body, 
*, 
*::before, 
*::after{
cursor: url("../Elements/CursorDesignPort2.svg") 16 16, pointer !important;
}



.black-square{
    position: fixed;
    top: 0;
    right: 0; 
    width: 48.5vw;
    height: 100vh;
    background-color: rgb(36, 36, 36);
    z-index: -2;
   
}
.container:hover .HomeHover{
 opacity: 1;
 z-index: 10;
 transform: scale(1)
}
.container :active{
   transform: scale(0.85);
}

.HomeHover{
    position: fixed;
    background: none;
    border: none;
    outline: none;
    bottom: 90%; 
    right: -0.5%;
    opacity: 0;
}
.HomeButton{
    position: fixed;
    background: none;
    border: none;
    outline: none;
    bottom: 90%; 
    right: -0.5%;

}
.buttonMO{
    padding: 10px;
    color: rgb(0, 0, 0);
    background: none;
    outline: none;
    cursor: pointer;
    position: absolute; 
    top:  400%; 
    right: 88%; 
    font-size: 14px;
    border: 1px solid rgb(0, 0, 0); 
    border-color: rgb(0, 0, 0);
    border-radius: 8px;
    font-family: 'Times New Roman', Times, serif;
}
.buttonMO:hover{
    background-color: rgb(255, 208, 223);
    color: black;
    transition: background-color 0.5s ease-in, transform 0.1s;
    border: none; 
}
body:has(.buttonMO:hover){
    background-color:  rgb(255, 208, 223);
}
.buttonMO:active{
    transform: scale(0.90);
}
h1{
    text-align: left; 
    position: absolute;
    top: 50.8%; 
    left: 0; 
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    font-size: 22px;
}
h3{
    text-align: left; 
    position: absolute;
    top: 50%; 
    left: 3%; 
    font-family: Helvetica, sans-serif;
    font-weight: 800;
    font-size: 22px;
}
h4{
    text-align: left; 
    position: absolute;
    top: 51.7%; 
    left: 3%; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 22px;
}
h5{
    text-align: left; 
    position: absolute;
    top: 54%; 
    left: 9%; 
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    font-size: 22px;
}

h2{
    text-align: left;
    position: absolute;
    top: 400%; 
    right: 0; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    color:  rgb(205, 235, 195);
}


.gallery-layout{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 110vh auto 0 auto;
    padding-right: 30%;
    position: relative;
}

.ButtonP1{
display: block;
background: none;
border: none; 
padding: 0; 
margin: 0;
cursor: pointer; 
width: 100%;
height: 100%;
position: relative;
z-index: 2;
}

.Piece1 img{
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    display: block;
}

.Piece1{
    top: 2%; 
    width: 100%;
    max-width: 950px;
    height: auto;
    overflow: hidden;
    position: relative;
    justify-self: end;
}
.HangPot{
    width: 600px;
    height: 600px; 
}

.description-box{
    display: none;
    width: 430px; 
    height: 590px;
    max-width: 800px;
    padding: 2rem;
    background-color: white;
    position: fixed;
    transform: translate(-50%, -50%);
    box-shadow: 20px 20px 0px lch(0% 0 0);
    border-radius: 5px;
    position: absolute;
    top: 2%; 
    left: 57%; 
    z-index: 100;
}
.description-box header{
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: center;
}
#piece-description.show{
    display: block !important;
    animation: fadeIn 0.8s ease-in-out forwards;
}
@keyframes fadeIn{
    0%{opacity: 0; transform: translateX(-750px);}
    100%{opacity: 1; transform: translateX(0);}
}


.gallery-layout2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 50vh auto 0 auto;
    padding-right: 30%;
    position: relative;
}

.ButtonP2{
display: block;
background: none;
border: none; 
padding: 0; 
margin: 0;
cursor: pointer; 
width: 100%;
height: 100%;
position: relative;
z-index: 2;
}

.Piece2 img{
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    display: block;
}

.Piece2{
    top: 2%; 
    width: 100%;
    max-width: 650px;
    height: auto;
    overflow: hidden;
    position: relative;
    justify-self: end;
}
.HangPot2{
    width: 600px;
    height: 600px; 

}
.description-box2{
    display: none;
    width: 430px; 
    height: 590px;
    max-width: 800px;
    padding: 2rem;
    background-color: white;
    position: fixed;
    transform: translate(-50%, -50%);
    box-shadow: 20px 20px 0px lch(0% 0 0);
    border-radius: 5px;
    position: absolute;
    top: 2%; 
    left: 57%; 
    z-index: 100;
}
.description-box2 header{
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: center;
}
#piece-description2.show{
    display: block !important;
    animation: fadeIn2 0.8s ease-in-out forwards;
}
@keyframes fadeIn2{
    0%{opacity: 0; transform: translateX(-750px);}
    100%{opacity: 1; transform: translateX(0);}
}




.gallery-layout3{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 50vh auto 0 auto;
    padding-right: 30%;
    position: relative;
}

.ButtonP3{
display: block;
background: none;
border: none; 
padding: 0; 
margin: 0;
cursor: pointer; 
width: 100%;
height: 100%;
position: relative;
z-index: 2;
}

.Piece3 img{
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    display: block;
}

.Piece3{
    top: 2%; 
    width: 100%;
    max-width: 650px;
    height: auto;
    overflow: hidden;
    position: relative;
    justify-self: end;
}

.description-box3{
    display: none;
    width: 430px; 
    height: 590px;
    max-width: 800px;
    padding: 2rem;
    background-color: white;
    position: fixed;
    transform: translate(-50%, -50%);
    box-shadow: 20px 20px 0px lch(0% 0 0);
    border-radius: 5px;
    position: absolute;
    top: 2%; 
    left: 57%; 
    z-index: 100;
}
.description-box3 header{
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: center;
}
#piece-description3.show{
    display: block !important;
    animation: fadeIn3 0.8s ease-in-out forwards;
}
@keyframes fadeIn3{
    0%{opacity: 0; transform: translateX(-750px);}
    100%{opacity: 1; transform: translateX(0);}
}



.gallery-layout4{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 50vh auto 0 auto;
    position: relative;
}

